---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { getPostsByDate } from "../posts";
import Link from "../components/Link.astro";

const posts = await getPostsByDate();
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="grid grid-cols-2 gap-4">
        {
          posts.map((post) => (
            <div>
              <img src={post.frontmatter.heroImage} />
              <h3>
                <Link href={post.url}>{post.frontmatter.title}</Link>
              </h3>

              <p class="text-dark-300 text-sm">
                {post.frontmatter.description}
              </p>
              <time
                datetime={post.frontmatter.pubDate}
                class="text-xs text-dark-300 m-0 p-0"
              >
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  "en-gb",
                  {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }
                )}
              </time>
            </div>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
