---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import { getImageFromHeroImage } from "../posts";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;

const resolvedHeroImage = await getImageFromHeroImage(heroImage);
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={resolvedHeroImage.src}
    />
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <Image
              src={resolvedHeroImage}
              alt="hero image"
              class="mx-auto"
              widths={[200, 400, 800]}
              sizes="(max-width: 800px) 100vw, 800px"
              formats={["avif", "jpeg", "png", "webp"]}
              loading="eager"
            />
          )
        }
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
